<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/gamygoody.css" rel="stylesheet">
    <style type="text/css"> 
    {% block style %}{% endblock %}
    </style>
    <title>MicroCMS - {% block title %}{% endblock %}</title>
</head>
<body>
    {{ render(url('navbar')) }}
    <div id="header">
        {% block header %}
        {% endblock %}
    </div>
    <div class="container">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="footer col-xs-12">
            <a href="#">GamyGoody</a> is created by a well player and a little furious.
        </footer>
    </div>

    <!-- jQuery -->
    <script src="{{ app.request.basepath }}/lib/jquery/jquery.min.js"></script>
    <!-- JavaScript Boostrap plugin -->
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/lib/bootstrap-filestyle/src/bootstrap-filestyle.min.js"></script>
    {% block script %}{% endblock %}
</body>
</html>