{% extends "layout.html.twig" %}

{% block title %}
    {% if game %}
        {{ game.title }}
    {% else %}
        All
    {% endif %}
{% endblock %}


{% block style %}
    {% if game %}
        .brand-header
        {
            background-image: url('{{ game.background.webPath }}')
        }
    {% endif %}
{% endblock %}

{% block header%}
    {% if game %}
        <div class="row brand-header">
            <img src="{{ game.logo.webPath }}"/>
        </div>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="well filter"> 
        <div class="title">
            Filter by: 
        </div>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{% if game %}{{ game.title}}{% else %}Games{% endif %} <span class="caret"></span></button>
              <ul class="dropdown-menu">
                 <li><a href="{{ path('shop') }}">All</a></li>
                 {% for game in games %}
                    <li><a href="{{ path('shop', { 'game_id': game.id }) }}">{{game.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        

        {% for article in articles %}
            <div class="responsive-container col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="ratio-1-1"></div>
                <div class="img-container img-container-full"  title="{{article.title}}" data-toggle="tooltip" data-placement="bottom">
                    <a class="img_art_cont" href="{{ path('article', { 'id': article.id }) }}">
                        {% if article.images | length >= 2 %}
                            <img class="article img_hover_1" src="{{ article.images.0.image.webPath }}" alt="{{ article.images.0.image.alt }}"/>
                            <img class="article img_hover_2 img_hover_hidden" src="{{ article.images.1.image.webPath }}" alt="{{ article.images.1.image.alt }}"/>
                        {% else %}
                            <img class='article' src="https://upload.wikimedia.org/wikipedia/fr/7/77/League_of_Legends_logo.png" alt="{{article.title}}">
                        {% endif %}
                    </a>
                    <a href="#" class="modal-article-link" data-href="{{ article.id }}">
                        <div class="caption">
                            <span class="glyphicon glyphicon-plus"> INFO</span>
                        </div>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="gameIconeContainer col-lg-12 text-center">
                Aucun article pour ce jeu.
            </div>
        {% endfor %}
    </div>

    <div id="modal-add-bascket" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <a class="close-modal" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                <div class="modal-article-content">
                    <img class'image-responsive' src="/images/loader.gif"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

{% endblock %}

{% block script %}
    <script>
        var $modal;

        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();  

            $modal = $('#modal-add-bascket');

            $('.modal-article-link[data-href]').on('click', function(e) 
            {
                e.preventDefault();

                $modal.find('.modal-article-content').html("<img class'image-responsive' src='/images/loader.gif'/>");
                $('#modal-add-bascket').modal({show: true , backdrop : true , keyboard: true});

                var url = "{{ path('article_modal', {'id': 'article_id'}) }}"; 
                url = url.replace("article_id", $(this).attr("data-href"));

                $.ajax({
                    url: url,
                }).success(function(response) {
                   populateModal($(this), response);
                });
            });

            $('.modal-content .close-modal').on('click', function(e) 
            {
                e.preventDefault();
                $('#modal-add-bascket').modal('hide');
            });

            $('.img_art_cont').hover(function()
            {
                $(this).find('.img_hover_1').addClass('img_hover_hidden');
                $(this).find('.img_hover_2').removeClass('img_hover_hidden');
            },
            function()
            {
                $(this).find('.img_hover_2').addClass('img_hover_hidden');
                $(this).find('.img_hover_1').removeClass('img_hover_hidden');
            }
            );

            function populateModal($modalarticle, response) 
            {
                $modal.find('.modal-article-content').html(response);
            }

            });
    </script>
{% endblock %}